---
import { frameworkName } from '../config/site.ts';

interface Props {
  class?: string;
}

const { class: extraClass } = Astro.props;
---

<span class:list={['brand-name', extraClass]} aria-label={frameworkName}>
  <span aria-hidden="true">
    {frameworkName.split('').map((letter) => <span>{letter}</span>)}
  </span>
</span>
