---
import { frameworkName } from '../config/site.mjs';

const letters = frameworkName.split('');
const className = Astro.props.class ? `brand-name ${Astro.props.class}` : 'brand-name';
---

<span class={className} aria-label={frameworkName}>
  <span aria-hidden="true">
    {letters.map((letter) => <span>{letter}</span>)}
  </span>
</span>
